<h1>Bienvenido a Noticias Amables</h1>
<p>La idea de Noticias Amables es presentar a los usuarios solamente noticias positivas como contraste al cúmulo de noticias negativas presentes en los medios tradicionales y RRSS</p>
<p>Con esto, queremos evitar el doomscrolling, el cual es nocivo para la salud mental</p>
<p>Y así hacer nuestro aporte al bienestar de las personas</p>
<br><br>
<p>Desarrollado por:</p>
<p>Alejandro Cofré - Jimena Aliaga - Jonathan Castro - Rolando Piñones - Yolanda Araya</p>
